<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogFolderPath" value="..\\..\\..\\..\\Logs" />
	<!-- 1/x * 100% = possibility for alarm -->
    <add key="AlarmPossibility" value="3" />
	<!-- for random simulator -->
    <add key="SleepMilliseconds" value="3000" />
    <add key="AntivirusThreatsNum" value="3" />
    <add key="HostAddress1" value="12-31-23-12-31-23" />
    <add key="HostAddress2" value="45-64-56-45-64-56" />
    <add key="HostAddress3" value="76-57-65-76-57-65" />
    <add key="IpAddress1" value="145.47.26.42" />
    <add key="IpAddress2" value="195.57.27.32" />
    <add key="IpAddress3" value="135.27.28.62" />
    <add key="MaliciousIpAddress" value="127.0.1.3" />
    <add key="UnsuccessfulLoginAttemptNum" value="15" />
    <add key="Username" value="luser123" />
    <add key="" value="" />
  </appSettings>
</configuration>